.testimonial-section{
    padding: 50px 0px;
    background-color: #e8e8e8;
}
.task {
    position: relative;
    color: #2e2e2f;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 16px #c5c5c5, -5px -5px 16px #fbfbfb;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
}
  
  .task:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2) !important;
  }
  
  .task p {
    font-size: 15px;
    margin: 1.2rem 0;
  }
  
  
  
  
  
  